# For detailed information about docker-compose visit https://docs.docker.com/compose/
# To start all docker containers required to execute the tests locally run:
# docker compose up

services:
  postgres:
    image: postgres:latest
    container_name: postgres-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "POSTGRES_USER=docker"
      - "POSTGRES_PASSWORD=docker"
    ports:
      - "5432:5432"  # credentials (docker:docker)

  mysql:
    image: mysql:9.6.0
    container_name: mysql-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "MYSQL_ROOT_PASSWORD=root"
    ports:
      - "3306:3306" # credentials (root:root)

  mariadb:
    image: mariadb:latest
    container_name: mariadb-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "MARIADB_ROOT_PASSWORD=root"
    ports:
      - "3307:3306" # credentials (root:root)

  oracle:
    image: gvenzl/oracle-xe:21.3.0-slim-faststart
    container_name: oracle-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "DBCA_TOTAL_MEMORY=1024"
      - "ORACLE_PASSWORD=oracle"
    ports:
      - "1521:1521" # DB_CONN: credentials (system:oracle | pass: oracle)

  sqlserver:
    image: pjfanning/mssql-server:2022-latest
    container_name: sqlserver-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "DBCA_TOTAL_MEMORY=1024"
      - "ACCEPT_EULA=Y"
      - "MSSQL_SA_PASSWORD=Str0ngPassword"
    ports:
      - "1433:1433" # credentials (docker:Str0ngPassword)
