# For detailed information about docker-compose visit https://docs.docker.com/compose/
# To start all docker containers required to execute the tests locally run:
# docker-compose up

version: '2.2'
services:
  postgres:
    image: postgres:latest
    container_name: postgres-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "POSTGRES_USER=docker"
      - "POSTGRES_PASSWORD=docker"
    ports:
      - "5432:5432"  # credentials (docker:docker)

  mysql:
    image: mysql:latest
    container_name: mysql-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "MYSQL_ROOT_PASSWORD=root"
    ports:
      - "3306:3306" # credentials (root:root)

  oracle:
    image: gvenzl/oracle-xe:11.2.0.2-slim-faststart
    container_name: oracle-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "DBCA_TOTAL_MEMORY=1024"
      - "ORACLE_PASSWORD=oracle"
    ports:
      - "1521:1521" # DB_CONN: credentials (system:oracle | pass: oracle)

  sqlserver:
    image: topaztechnology/mssql-server-linux
    container_name: sqlserver-test
    environment:
      - "TZ=Europe/Amsterdam"
      - "DBCA_TOTAL_MEMORY=1024"
      - "ACCEPT_EULA=Y"
      - "SQL_USER=docker"
      - "SQL_PASSWORD=docker"
      - "SQL_DB=docker"
    ports:
      - "1433:1433" # credentials (docker:docker)
