name: Nightly Testing with Pekko 1.3

permissions: {}

on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - { java-version: 8,  scala-version: 2.12, sbt-opts: '' }
          - { java-version: 8,  scala-version: 2.13, sbt-opts: '' }
          - { java-version: 8,  scala-version: 3.3,  sbt-opts: '' }
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: 1.2.x

      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Install sbt
        uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14

      - name: Cache Coursier cache
        uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # 6.4.7

      - name: Run tests with Scala ${{ matrix.scala-version }} and Java ${{ matrix.java-version }}
        run: sbt -Dpekko.build.pekko.version=1.3.x "++${{ matrix.scala-version }} test" ${{ matrix.sbt-opts }}

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
